.post div div {
    background: red;
    width: 300px;
    float: left;
}

.post div {
    width: 700px;
    height: 65px;
    margin: 5px;
    display: flex;
}

.post button {
    background: green;
    position: relative;

}

.chosen {
    position: fixed;
    top: 50px;
    left: 500px
}